<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Luckyvail">
    <meta name="Keywords" content="index">
    <title>主页</title>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <script>
        $(function(){
         
        });
    </script>
</head>
<body>
    <div id="top">
        <div>
            <ul>
                <li><a href="#">豆瓣</a></li>
                <li><a href="#">读书</a></li>
                <li><a href="#">电影</a></li>
                <li><a href="#">音乐</a></li>
                <li><a href="#">同城</a></li>
                <li><a href="#">小组</a></li>
                <li><a href="#">阅读</a></li>
                <li><a href="#">FM</a></li>
                <li><a href="#">时间</a></li>
                <li><a href="#">豆品</a></li>
                <li><a href="#">更多</a></li>
            </ul>
        </div>
        <div>

            <a href="/users/logout">注销</a>

            <a href="/users/login">登录</a>
            <a href="/users/reg">注册</a>

        </div>
    </div>
</body>
</html>